.abt-container {
  text-align: left;
  padding: 50px;
  padding-top: 100px; /* Add padding to the top to account for the navbar */
  margin-top: 2%;
  max-width: 80%;
  width: 100%;
  margin: 0 auto; /* Center the container */
}

h1 {
  text-align: left;
  margin-bottom: 20px;
}

h3 {
  text-align: left;
  margin-bottom: 40px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.entry {
  text-align: left;
  padding: 20px;
  background-color: rgb(43, 43, 43);
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  color: white;
  font-size: 14pt;
}

.entry p{
  margin-top: 0;
  margin-bottom: 2%;
}

.scroll-indicator {
  position: fixed;
  top: 20%;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-year {
  margin: 5px 0;
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.scroll-year:hover {
  background-color: #555;
  color: rgb(158, 168, 125);
}

.scroll-year.active {
  background-color: #777; /* Highlight the active year */
}

.abt-button-container {
  display: flex;
  gap: 5%; /* Create space between the buttons */
  justify-content: center; /* Center the buttons horizontally */
  margin: 20px 0; /* Add margin to the top and bottom */
}

.abt-button {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px; /* Adjust the padding to resize the buttons */
  cursor: pointer;
  text-decoration: none;
}

.abt-button a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.abt-button:hover {
  background-color: #555;
}

.abt-button:hover a{
  color: rgb(158, 168, 125);
}

* {
  box-sizing: border-box;
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four equal columns */
  text-align: center;
  font-size: 1.1rem;
  margin-top: 10px;
  border: 2px solid black; /* Add black outline */
  /* border-radius: 5px; Optional: rounded corners */
}

.profile-grid dt, 
.profile-grid dd {
  padding: 10px;
  border: 1px solid black;
}

.profile-grid dt {
  font-weight: bold;
  grid-row: 1; /* Place dt elements in the first row */
}

.profile-grid dd {
  grid-row: 2; /* Place dd elements in the second row */
  margin: 0;
}