/* Globe container styling */
  /* Target the globe element rendered by the script */
  #home-globe-container canvas {
    height: 50vh; /* Set the globe's height to half the viewport */
    width: 50vh; /* Set the globe's width to half the viewport */
    max-width: 100%; /* Ensure it doesn't exceed the container */
    max-height: 100%; /* Ensure it doesn't exceed the container */
    border-radius: 50%; /* Optional: Make it circular */
  }
  
  .meta-wrapper {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll; /* Enable vertical scrolling */
    scroll-snap-type: y mandatory; /* Enable scroll snapping */
    scroll-behavior: smooth; /* Smooth scrolling */
  }
  
  /* Each section (home and globe) */
  .home,
  .home-globe,
  .meta-visitor-wrapper, 
  .meta-footer{
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    scroll-snap-align: start; /* Snap to the start of the section */
  }
  
  .tooltiper{
    font-size: 3000vw !important;
  }
  
  .globe-title {
    margin-left: 10%;
    padding: 0;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  
  .clstrm_inner {
    /* margin: 5% 5% !important; */
    scale: 0.4;
  }
  
  .clstrm_outer{
    margin: 5% 5% !important;
    max-width: 80%;
    height: auto;
  }
  
  .clstrm_map {
    margin-top: 20% !important;
  }
  
  /* .clstrm_map {
    width: 600px !important;
    height: 600px !important;
  } */
  
  /* .clstrm_ref_top {
    display: none !important;
  } */
  
  .clstrMarker {
    r: 5 !important;
  }