/* Home.css */

/* Wrapper for the entire page */
.home-wrapper {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll; /* Enable vertical scrolling */
  scroll-snap-type: y mandatory; /* Enable scroll snapping */
  scroll-behavior: smooth; /* Smooth scrolling */
}

/* Each section (home and globe) */
.home,
.home-globe {
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  scroll-snap-align: start; /* Snap to the start of the section */
}

.home-globe {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1d; /* Dark background for contrast */
  color: white;
  height: 100vh;
  width: 100vw;
  overflow: visible; /* Ensure content is not clipped */
  z-index: 1; /* Ensure it is not hidden behind other elements */
  position: relative;
}

/* Existing styles for the home section */
.home {
  display: flex;
  justify-content: left;
  align-items: center;
  background-image: url('../assets/WTC.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-container {
  text-align: left;
  padding: 2vw;
  background-color: rgb(29, 29, 29);
  border-radius: 10px;
  max-width: 80vw;
  width: 35%;
  margin-left: 2.5%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.home-title {
  font-size: 3vw;
  color: white;
  margin-bottom: 0;
}

.home-subtitle {
  font-size: 2vw;
  color: white;
  margin-bottom: 2vw;
}

.button-link {
  display: inline-block;
  background-color: #7c7c64;
  color: black;
  padding: 0.75vw 1vw;
  font-size: 1.5vw;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-right: 10%;
}

.button-link:hover {
  background-color: rgb(158, 168, 125);
  color: black;
  text-decoration: underline;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .home-container {
    width: 60%;
    margin-left: 5%;
    padding: 4vw 4vw;
  }

  .home-title {
    font-size: 6vw;
  }

  .home-subtitle {
    font-size: 3vw;
    margin-bottom: 5vw;
  }

  .button-link {
    font-size: 2.5vw;
    padding: 2vw 4vw;
  }
}

@media (max-width: 480px) {
  .home-container {
    width: 95%;
    margin-left: 2.5%;
    padding: 15vw;
  }

  .home-title {
    font-size: 8vw;
  }

  .home-subtitle {
    font-size: 4vw;
    margin-bottom: 7vw;
  }

  .button-link {
    font-size: 4vw;
    padding: 3vw 6vw;
    margin-bottom: 5vw;
  }
}
