.project-container {
    text-align: left;
    padding: 100px;
    margin-top: 2%;
  }

.entry {
  text-align: left;
  padding: 10px 20px;
  background-color: rgb(43, 43, 43);
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  margin-top: 5%;
  color: white;
  font-size: 14pt;
}

.contained-image {
  margin-bottom: 2%;
  max-width: 45%;
  height: auto;
  margin-right: 2%;
}

.contained-image-scaled {
  margin-bottom: 2%;
  max-width: 47%;
  height: auto;
  margin-right: 2%;
}

.proj-link {
  color: #98987b;
  text-decoration: underline;
}

.proj-link:hover {
  color: #ccc; /* Change the link color on hover */
}